body{
  background-color: #002a53;
  font-family: 'Libre Baskerville', serif;
  color: whitesmoke;
}

.brand{
  font-family: "French's Asylum";
  color: #ffa202;
}

.nav-item, .nav-link{
  font-family: "EEFBolder";
  color:#ffa202 !important;
}

.display-4{
  font-family: HeadlineFA;
  color: #340146;
}

.lead{
  font-family: EEF;
  color: #340146;
}

.btn{
    background-color: #ffa202;
    font-family: Bookman Caps;
}

button{
  background-color: #9a01cd;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #002a53
}
  
#Speakers{
  font-family: "Bookman Caps";
  color:whitesmoke
}

.card{
  color: #340146
}

/* Social Media Links */  
.fa {
  padding: 20px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

