body{
    margin: 5px;
    /* font-family: HeadlineFA; */
}

.brand{
  font-family: "French's Asylum";
  color: #ffa202;
}

.nav-item, .nav-link{
  font-family: "EEFBolder";
  color:#ffa202 !important;
}

.display-4{
  font-family: HeadlineFA;
}

.btn{
    background-color: #ffa202;
    font-family: Bookman Caps;
}
  
#Speakers{
  font-family: 'Libre Baskerville', serif;
}